
body{
    width: 1440px;
    margin: auto;
}

h1{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
}

h2{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.06em;
    margin: 0;
}

h3{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.04em;
}

h4{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
}

h5{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
}

h6{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.p-display{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.03em;
}

.p-body_01{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.p-body_02{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

label{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.capture_01{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    letter-spacing: 0.19em;
    font-family: "Inter", sans-serif;
}

.default-button{
    padding: 16px 48px;
    background-color: #FFD050;
    color: #232536;
    border: none;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

header{
    height: 80px;
    background-color: #232536;
    position: relative;
}

.header-img{
    position: absolute;
    left: 83px;
    top: 25px;
}

nav{
    position: absolute;
    right: 291px;
    top: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px
}

nav div{
    color: #FFFFFF;
}

.header-button{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 48px;
    border: none;
    background-color: #FFFFFF;
    position: absolute;
    right: 80px;
    top: 12px;
}

.home-hero{
    height: 720px;
    background-image: radial-gradient(90.99% 81.93% at 54.58% 30%, rgba(0, 0, 0, 0) 0%, #000 100%), url("/assets/home/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.svg");
    position: relative;
}

.home-hero-container{
    position: absolute;
    top: 128px;
    left: 80px;
    width: 804px;
}

.home-hero-container .capture_01{
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 24px;
}

.home-hero-container .p-display{
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 24px;
}

.home-hero-container .p-body_01{
    color: #FFFFFF;
    width: 599px;
}

.home-hero-container button{
    margin-top: 32px;
}

.featured-posts{
    margin: 128px 79px;
    display: flex;
    gap: 32px;
}

.featured-posts-left{
    width: 733px;
    height: 804px;
}

.featured-posts-left-container{
    margin-top: 32px;
    padding: 32px;
    border: 1px solid rgba(109, 110, 118, 0.1);
}

.featured-posts-left-container img{
    margin-bottom: 29px;
}

.featured-posts-left-container label{
    margin-top: 32px;
}

.featured-posts-left-container h3{
    margin-top: 16px;
    margin-bottom: 16px;
}

.featured-posts-left-container p{
    color: #6D6E76;
    width: 551px;
    margin-bottom: 32px;
}

.featured-posts-right{
    width: 517px;
    height: 804px;
    position: relative;
}

.featured-posts-right p{
    position: absolute;
    right: 2px;
    top: 11px;
    color: #592EA9;
    margin: 0;
}

.featured-posts-right-posts{
    margin-top: 32px;
}

.featured-posts-right-post{
    padding: 32px 116px 25px 32px;
}

.featured-posts-right-post h4{
    margin-top: 8px;
    margin-bottom: 0;
}

.featured-posts-right-post:nth-child(2){
    background-color:#FBF6EA;
}

.about-us{
    width: 1280px;
    height: 523px;
    margin: auto;
    position: relative;
}

.about-us-color-line{
    width: 1061px;
    height: 23px;
    position: absolute;
    right: 0;
    display: flex;

}

.yellow-line{
    width: 779px;
    background-color: #FFD050;
}

.purple-line{
    width: 282px;
    background-color: #592EA9;
}

.about-us-content{
    height: 500px;
    background-color: #F4F0F8;
    position: relative;
    top: 23px;
    display: flex;
    gap: 61px;
}

.about-us-content-left{
    width: 515px;
    height: 308px;
    margin: 96px 0 96px 80px;
}

.about-us-content-left .capture_01{
    margin: 0;
}

.about-us-content-left h2{
    margin-top: 24px;
}

.about-us-content-left .p-body_01{
    color: #6D6E76;
}

.about-us-content-left p:last-child{
    color: #592EA9;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Sen', sans-serif;
}

.about-us-content-right{
    width: 516px;
    height: 248.73px;
    margin: 98px 108px 153.27px 0;
}

.about-us-content-right .capture_01{
    margin: 0;
}

.about-us-content-right h3{
    margin-bottom: 16px;
}

.about-us-content-right .p-body_01{
    color: #6D6E76;
    margin: 0;
}

.categories{
    width: 1280px;
    height: 324px;
    margin: auto;
    margin-top: 128px;
}

.categories h2{
    width: 302px;
    margin: auto;
    margin-bottom: 48px;
}

.categories-container{
    display: flex;
    gap: 32px;
}



.single-category{
    border: 1px solid rgba(109, 110, 118, 0.1);
    height: 228px;
}

.single-category h3{
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 0;
}

.single-category p{
    margin-left: 32px;
    margin-top: 4px;
    color: #6D6E76;
}

.single-category img{
    margin-left: 32px;
    margin-top: 32px;
    background-color: #FBF6EA;
    border-radius: 10px;
}

.img-container{
    margin-top: 32px;
    margin-left: 32px;
}

.img-container{
    width: 48px;
    height: 48px;
    background-color: #FBF6EA;
    border-radius: 10px;
}

.img-container img{
    margin: 12px;
}


.single-category:nth-child(2){
    background-color: #FFD050;
}

.single-category:nth-child(2) img{
    border-radius: 0;
}

.special-post{
    width: 1280px;
    height: 705px;
    margin: 128px auto;
    position: relative;
}

.special-post-container{
    width: 706px;
    height: 584px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
}

.special-post-container .capture_01{
    margin: 80px;
    margin-bottom: 0;
}

.special-post-container h1{
    margin-left: 80px;
    margin-top: 24px;
    margin-bottom: 0;
}

.special-post-container .p-body_01{
    margin-left: 80px;
    margin-top: 16px;
    margin-right: 80px;
    margin-bottom: 0;
    color:#6D6E76;
}

.special-post-container button{
    margin-left: 80px;
    margin-top: 32px;
    margin-right: 80px;
    margin-bottom: 0;
}

.list-of-authors{
    width: 1280px;
    height: 420px;
    margin: auto;
    margin-bottom: 96px;
}

.list-of-authors h2{
    margin-left: 515px;
    margin-right: 534px;
    width: 231px;
    margin-bottom: 48px;
}

.authors{
    display: flex;
    gap: 32px;
}

.author{
    width: 296px;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

.author h3{
    margin: 0;
    margin-top: 20px;
}

.author p{
    margin: 0;
    margin-bottom: 20px;
    color: #6D6E76;
}

.logos-container{
    display: flex;
    gap: 16px;
}

.author:nth-child(2){
    background-color: #FBF6EA;
}

.featured-in{
    width: 1237px;
    height: 52px;
    margin-left: 99px;
    margin-right: 104px;
    display: flex;
    gap: 87px;
}

.capture-container p{
    margin: 0;
    color: #6D6E76;
}

.capture-container p:nth-child(1){
    margin: 0;
    opacity: 0.5;
}

.capture-container p:nth-child(2){
    font-weight: 700;
    font-size: 23px;
    line-height: 133%;
    font-family: 'Sen', sans-serif;
}

.companies-container{
    display: flex;
    gap: 73px;
}

.companies-container img{
    opacity: 0.8;
}

.companies-container img:nth-child(1){
    width: 160px;
    margin-right: 2px;
}

.companies-container img:nth-child(2){
    width: 136px;
}

.companies-container img:nth-child(3){
    width: 135px;
}

.companies-container img:nth-child(4){
    width: 153px;
    margin-right: 1px;
}

.companies-container img:nth-child(5){
    width: 136px;
}